{% extends "layout.njk" %}

{% block head %}

    <title>{{item.title}}</title>
    
{% endblock %}

{% block content %}

    <div class="" id="wrapper">
        <h1>{{item.title}}</h1>
    </div>

    <section class="video">
        <!--card-->
        <div class="card" id="{{ item.id }}">
            <div class="card_image-container {{ 'featured-wrapper' if item.featured }}"> <!--Inserindo um if direito no html-->
                <img 
                src="https://img.youtube.com/vi/{{ item.id }}/maxresdefault.jpg" 
                alt="Imagem de {{ item.title }}">

                <!--Destaque no video-->
                {% if item.featured %}
                    <div class="featured">Featured</div>
                {% endif %}
            </div>

            <div class="card_content">
                <p>{{ item.title }}</p>
            </div>

            <div class="card_info">
                <p>{{ item.duration }}</p>
                <p class="card_price">{{ item.price }}</p>
            </div>
        </div>

    </section>

{% endblock %}